/* #sidebar {
  position: relative;
  width: 270px;
} */

#sidebar {
  display: flex;
  position: absolute;
  width: 270px;
}
#sidebar .pro-sidebar {
  height: 100vh;
}
#sidebar .closemenu {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}
#sidebar .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#sidebar .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#sidebar .pro-sidebar-inner {
  background-color: rgb(51, 50, 50);
  box-shadow: 0.5px 0.866px 2px 0px rgba(134, 176, 201, 0.15);
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  font-family: 'Stencil Std', fantasy;
  padding: 0 20px;
  color: rgb(255, 251, 251);
  font-weight: bold;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: rgb(255, 255, 255);
  margin: 1px 0px;
  font-weight: bold;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #d1e0e2;
  color: #63a8b1;
  border-radius: 3px;
}
#sidebar
  .pro-sidebar-inner
  .pro-sidebar-layout
  ul
  .pro-inner-item
  .pro-icon-wrapper
  .pro-item-content {
  color: #000;
}
#sidebar .pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #9bc0c5 0%, #63a8b1 100%);
}
#sidebar .logo {
  padding: 20px;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
